body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #131313;
    
}
.hero, .is-fullheight{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("/images/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    /*#5e073285*/
    /*#0478e5*/
}
.navbar-menu{
    font-size: 1.5rem;
   

    
}
.navbar-item{
    color:rgba(255,255,255);
    font-family: 'Open Sans Condensed', sans-serif;    
}
.title{
    font-family: 'Open Sans Condensed', sans-serif;
    color:rgba(255,255,255);
    font-size: 7rem;
}
   
@media(max-width:720px){
    .navbar-menu,.navbar-end{
        background-color: #11101185;

    }
}
/* for screens with a max width of 720px */
@media(max-width:720px){


    .title{
        font-family: 'Open Sans Condensed', sans-serif;
        color:rgba(255,255,255);
        font-size: 4rem;
        
    }
}
.subtitle{
    font-family: 'Montserrat Subrayada', sans-serif;
    color:rgba(255,255,255);
}

.container-image{
    display:flex;
   flex-wrap: wrap;
    justify-content: flex-end;
    padding:4em;
}
hr{
    width:12rem;
}
h2{
    font-size:4rem;
    margin: 1em;
}
.image-mount{
    

}
.subhead{
    color:rgba(255,255,255);
    font-size: 1.4rem;
    line-height: 2.2rem;

}
.subhead::first-letter {
    initial-letter: 2;
    font-size: 4em;
    color: #40dd62;
    margin: 0.1em .1em 0 0;
}

