*{
    background:darkslategrey;
    color:white;
    font-size: 1.25rem;
}

.header-image{
    max-width:100%;
    
    



}

.introduction{
    text-align: center;
}
h1{
    font-size:4rem;
    font-weight:bolder;
}
.main-caption{
    border:2px dashed tomato;
    margin:2em;
    padding: 1.5em;
}
p{
    line-height: 1.8em;
}