/* my first comment */

body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: yellowgreen;
    line-height: 2em;
 

}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:25%;

}

h1{
    border-bottom: 5px dashed darkred;
    text-align: center;
}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-align:  center;
    color: indigo;

}
cite{
    font-size: 1rem;
}
.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
    text-align:center;
}
#title{
    color: forestgreen;
    font-size: 4rem;
}
a:link{
    font-weight: bolder;
    text-decoration: none;
    color: fuchsia;
    font-size: 1.5rem;
}
a:visited{
color:green;
font-weight:normal;

}
a:active{


}
a:hover{
    color: orange;
    text-decoration: dotted;
    

}